.card {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

.card__link {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.card__image {
  margin: 0;
  padding: 0;
  width: 100%;
  height: calc((100vw - 140px - 48px)/3*0.55);
  object-fit: cover;
}

.card__title-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 9px 16px;
  padding: 0;
}

.card__title {
  margin: 7px 0 7px 0;
  padding: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.card__heart {
  margin: 0 0 0 12px;
  padding: 0;
  width: 30px;
  height: 30px;
  background: url("../../images/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.card__heart:hover {
  cursor: pointer;
}

.card__heart_active {
  background: url("../../images/heart-active.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.card__delete-button {
  margin: 0 0 0 12px;
  padding: 0;
  width: 30px;
  height: 30px;
  background: url("../../images/button-delete.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.card__delete-button:hover {
  cursor: pointer;
}

.card__delete-button_hidden {
  display: none;
}

.card__length {
  margin: 2px auto 15px 16px;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #A0A0A0;
}

@media screen and (max-width: 1279px) {
  .card__image {
    height: calc((100vw - 30px)/2*0.55);
  }

  .card__title-block {
    margin: 8px 14px 5px;
  }

  .card__title {
    margin: 6px 0 7px 0;
  }

  .card__length {
    margin: 2px auto 15px 14px;
  }
}


@media screen and (max-width: 767px) {
  .card__image {
    height: calc((100vw - 30px)*0.55);
  }

  .card__title {
    font-size: 12px;
    line-height: 15px;
    /* margin: 6px 0 7px 0; */
  }

  .card__title-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    padding: 0;
  }

  .card__length {
    font-size: 10px;
    line-height: 12px;
    margin: 1px auto 14px 14px;
  }
}
