.search {
  width: 100%;
  border-bottom: 1px solid #424242;
  padding-bottom: 72px;
  margin-top: 78px;
}

.search__fieldset {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222222;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  padding: 0;
  padding-left: 28px;
  margin: 0;
  border: none;
  border-radius: 9px;
}

.search__fieldset-icon {
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  border: none;
}

.search__input {
  border: none;
  padding-left: 17px;
  background: #222222;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #8B8B8B;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
}

.search__input:active,
:hover {
  outline: 0;
  outline-offset: 0;
}

.search__input:focus {
  outline: 0;
  outline-offset: 0;
}

.search__button {
  margin: 0;
  margin-right: 19px;
  padding: 8px 20px 7px 20px;
  border: none;
  background: #4285F4;
  border-radius: 48px;
  min-width: 80px;
  transition: opacity 0.4s linear;
}

.search__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 1279px) {
  .search {
    padding-bottom: 109px;
    margin-top: 80px;
  }
}


@media screen and (max-width: 767px) {
  .search__fieldset {
    position: relative;
  }
}
