.burgerMenu {
  display: none;
  background-color: rgba(0, 0, 0, .3);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.burgerMenu_active {
  display: block;
  z-index: 1;
}

.burgerMenu__menu {
  background-color: #202020;
  position: sticky;
  right: 0;
  top: 0;
  bottom: 0;
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 159px;
  padding-bottom: 92px;
  width: 44%;
  left: 44%;
  height: calc(100vh - 252px);
}

.burgerMenu__link-block {
  font-size: 18px;
  line-height: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.burgerMenu__link {
  padding-bottom: 4px;
  margin-bottom: 24px;
  text-decoration: none;
  color: #FFFFFF
}

.burgerMenu__active-link {
  border-bottom: 2px solid #FFFFFF;
}

.burgerMenu__profile-link-block {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #313131;
  /* margin-top: 583px; */
  margin-top: calc(100vh - 426px);
  border-radius: 20px;
}

.burgerMenu__profile-link {
  margin: 0;
  padding: 8px 20px 8px 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.burgerMenu__close-button {
  display: block;
  position: absolute;
  top: 22px;
  right: 22px;
  background-color: transparent;
  background-image: url('../../images/close-mob-menu.svg');
  transform: rotate(-45deg);
  background-repeat: no-repeat;
  background-position: center;
  width: 22px;
  height: 22px;
  border: none;
  transition: opacity 0.4s linear;
  transition: transform 0.5s linear;
}

.burgerMenu__close-button:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: rotate(45deg);
}


@media screen and (max-width: 767px) {
  .burgerMenu__menu {
    padding: 144px 0 48px 0;
    width: 100%;
    height: calc(100vh - 192px);
  }

  .burgerMenu__link {
    padding-bottom: 7px;
    margin-bottom: 17px;
  }

  .burgerMenu__profile-link-block {
    margin-top: calc(100vh - 400px);
  }
}
