.register {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.register__content {
  min-width: 396px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}

.register__logo-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  line-height: 1;
  border: none;
  width: 38px;
  height: 38px;
  align-self: flex-start;
}

.register__logo {
  width: 38px;
  height: 38px;
  align-self: flex-start;
  transition: opacity 0.4s linear;
}

.register__logo:hover {
  opacity: 0.8;
}

.register__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-top: 40px;
  margin-bottom: 40px;
  align-self: flex-start;
}

.register__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.register__fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
}

.register__label {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8B8B8B;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 10px;
}

.register__input {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  width: 100%;
  margin: 0 0 5px 0;
  padding: 15px;
  box-sizing: border-box;
  border: none;
  border-radius: 8px;
  background: #2F2F2F;
}

.register__input:-webkit-autofill,
.register__input:-webkit-autofill:hover,
.register__input:-webkit-autofill:focus,
.register__input:-webkit-autofill:active {
  background: #2F2F2F;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0;
  -webkit-text-fill-color: #FFFFFF;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%);
  caret-color: #FFFFFF !important;
}

input {
  color: #FFFFFF !important;
}

.register__button {
  margin-top: 71px;
  background: #4285F4;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  width: 100%;
  padding-top: 13px;
  padding-bottom: 15px;
  margin-bottom: 16px;
  transition: opacity 0.4s linear;
  cursor: pointer;
}

.register__button:hover {
  opacity: 0.8;
}

.register__button_disabled {
  background: #2F2F2F;
  color: #8B8B8B;
  cursor: default;
}

.register__sign-in-area {
  display: flex;
  margin: 0;
  padding: 0;
  justify-items: center;
  align-items: center;
}

.register__sign-in-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #8B8B8B;
  margin: 0 8px 0 0;
  padding: 0;
}

.register__sign-in-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4285F4;
  margin: 0;
  padding: 0;
  transition: opacity 0.4s linear;
}

.register__sign-in-link:hover {
  opacity: 0.7;
}

.register__error-info {
  align-self: flex-start;
  color: #EE3465;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  margin: 0 0 5px 0;
  opacity: 0;
  padding: 0;
  height: 12px;
}

.register__error-info_active {
  opacity: 1;
}

@media screen and (max-width: 1279px) {
  .register__content {
    min-width: 396px;
    padding-top: 232px;
    padding-bottom: 232px;
  }
}

@media screen and (max-width: 767px) {
  .register__content {
    padding: 56px 30px 30px 30px;
    min-width: calc(100% - 2 * 30px);
  }

  .register__logo-link {
    align-self: center;
  }

  .register__title {
    align-self: center;
    margin-top: 50px;
    margin-bottom: 80px;
  }

  .register__button {
    margin-top: 159px;
    margin-bottom: 14px;
    font-size: 12px;
  }

  .register__sign-in-text {
    font-size: 12px;
    line-height: 15px;
  }

  .register__sign-in-link {
    font-size: 12px;
    line-height: 15px;
  }
}
