.footer {
  padding: 79px 0 20px;
}

.footer_spaced {
  width: calc(100% - 2*70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px 70px;
  margin-left: auto;
  margin-right: auto;
}

.footer__title {
  width: 100%;
  padding: 0 0 20px 0;
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #8B8B8B;
  border-bottom: 1px solid #424242;
}

.footer__info-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0 0;
}

.footer__copyright {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  padding: 0;
  margin: 0;
}

.footer__linksBlock {
  display: flex;
  justify-items: flex-end;
}

.footer__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: right;
  padding: 0;
  margin: 0 0 0 20px;
  color: #FFFFFF;
  transition: opacity 0.4s linear;
}

.footer__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1279px) {
  .footer {
    padding: 79px 0 20px;
  }

  .footer_spaced {
    width: calc(100% - 2*30px);
    padding: 79px 30px 20px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 78px 0 10px;
  }

  .footer_spaced {
    width: calc(100% - 2*10px);
    padding: 78px 10px 10px;
  }

  .footer__title {
    padding: 0 0 21px 0;
    font-size: 12px;
    line-height: 15px;
  }

  .footer__info-links {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 30px;
  }

  .footer__linksBlock {
    flex-direction: column;
    align-items: center;
  }

  .footer__link {
    margin: 0 0 12px 0;
    font-size: 12px;
  line-height: 15px;
  }

  .footer__copyright {
    font-size: 12px;
    line-height: 15px;
    margin-top: 18px;
  }
}
