.about-me {
  padding: 110px 70px 85px 70px;
}

.about-me__title {
  width: 100%;
  padding-bottom: 23px;
  border-bottom: 1px solid #DADADA;
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
}

.about-me__info-block {
  display: flex;
  justify-content: space-between;
  margin-top: 66px;
}

.about-me__text-block {
  display: flex;
  flex-direction: column;
}

.about-me__info-name {
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  margin: 0 0 18px 0;
  padding: 0;
}

.about-me__info-prof {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  mix-blend-mode: normal;
  margin: 0 0 26px 0;
  padding: 0;
}

.about-me__info-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  mix-blend-mode: normal;
  max-width: 600px;
  margin: 0 0 99px 0;
  padding: 0;
}

.about-me__github-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin: 0 0 101px 0;
  padding: 0;
  text-decoration: none;
  color: #FFFFFF;
  transition: opacity 0.4s linear;
}

.about-me__github-link:hover {
  opacity: 0.7;
}

.about-me__author-foto {
  width: 270px;
  height: 327px;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
}

@media screen and (max-width: 1279px) {
  .about-me {
    padding: 90px 50px 51px 50px;
  }

  .about-me__text-block {
    margin-right: 49px;
  }

  .about-me__info-name {
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__info-prof {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
  }

  .about-me__info-description {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 86px;
  }

  .about-me__author-foto {
    width: 253px;
    height: 307px;
  }

  .about-me__github-link {
    margin-bottom: 91px;
  }
}

@media screen and (max-width: 767px) {
  .about-me {
    padding: 70px 14px 30px 14px;
  }

  .about-me__title {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 28px;
  }

  .about-me__info-block {
    flex-direction: column-reverse;
    margin-top: 60px;
  }

  .about-me__author-foto {
    min-width: 292px;
    height: auto;
    margin-bottom: 39px;
    align-self: center;
  }

  .about-me__text-block {
    margin-right: 0;
  }

  .about-me__info-name {
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 20px 0;
  }

  .about-me__info-prof {
    font-size: 11px;
    line-height: 16px;
    margin: 0 0 20px 0;
  }

  .about-me__info-description {
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 40px;
  }

  .about-me__github-link {
    margin-bottom: 68px;
  }
}
