.more-movies-button-area {
  width: 100%;
  display: flex;
  justify-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 80px;
  margin: auto;
}

.more-movies-button-area__button {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  border: 1px solid #424242;
  color: #FFFFFF;
  border-radius: 6px;
  width: 320px;
  background-color: transparent;
  padding-top: 10px;
  padding-bottom: 9px;
  transition: opacity 0.4s linear;
}

.more-movies-button-area__button:hover {
  opacity: 0.6;
  cursor: pointer;
}


@media screen and (max-width: 767px) {
  .more-movies-button-area__button {
    max-width: calc(100% - 80px);
    min-width: 240px;
  }
}
